:root {
  --main-text-color: #1d1d1d;
  --text-footer-color: rgba(0, 0, 0, 0.5);
  --text-accent-color: rgba(255, 80, 111, 1);
  --text-white: rgba(255, 255, 255, 1);
  --gradient-botton: 90deg, #ffb34c -1.82%, #ff3573 49.74%, #ff3c46 98.18%;
  --schadow-section: 0px 11px 30px rgba(0, 0, 0, 0.1);
}
