<section class="header-section">
  <img
    class="header-section-img"
    srcset="
      ../images/images/logo-mobile.png    1x,
      ../images/images/logo-modile@2x.png 2x
    "
    src="../images/images/logo-mobile.png"
    alt="logo"
  />
  <h1 class="header-section_title title">
    Time Limited <span class="header-section_title-accent">Sale</span>
  </h1>
  <p class="header-section_text text">Grab the deal before it’s too late!</p>

  <div class="timer" id="timer-1">
    <div class="field field-accent">
      <span class="value" data-value="hours">00</span>
    </div>
    <div class="timer-wrap">
      <span class="timer-point"></span>
      <span class="timer-point"></span>
    </div>

    <div class="field">
      <span class="value" data-value="mins">00</span>
    </div>
  </div>

  <a class="button" href="">Get InstaTracker</a>
</section>
