.container_paymant-page {
    margin-left: auto;
    margin-right: auto;
    width: 414px;
    background-image: url('/images/images/shadow.png'), url('/images/images/bg-payment.png') ;
    background-position: center top;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('/images/images/shadow@2x.png'), url('/images/images/bg-payment@2x.png');
    }
}