.footer-sale{
    background-image: linear-gradient(208.82deg, #6464CA 8.6%, #9D73E1 100%);
    padding-top: 57px;
    padding-bottom: 47px;
    padding-left: 16px;
    padding-right: 16px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}

.footer__title-sale{
    padding-bottom: 23px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.8;
    text-align: center;
    color: var(--text-white);
}

.footer__text-sale{
    padding-bottom: 57px;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.18;
    text-align: center;
    color: var(--text-white);
}

.footer__label-sale{
    position: relative;
    display: flex;
    align-items: center;    
    width: 342px;
    height: 60px;
    border-radius: 10px;
    border: 2.75631px solid rgba(230, 230, 230, 0.14);
    padding-left: 57px;
    padding-right: 18px;
    
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--text-white);

    &:not(:last-child){
        margin-bottom: 26px;
    }

    &:hover,
    &:focus{
        border: 2.75631px solid #E6E6E6;
    }    
}

.footer__check-sale {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    width: 22px;
    height: 17px;
     background-color: transparent;
}

.footer__checkbox-sale:checked +.footer__check-sale{ 
    background-image: url('/images/icons/awesome-check.svg');    
    }

.footer__box-sale{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 267px;
}

.footer__inner-sale{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;   
}

.footer__desc-sale{
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    text-decoration-line: line-through;
}

.footer__box-button{
    position: relative;
    padding-top: 41px;
    padding-bottom: 89px;

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 85%;
        width: 382px;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.14);;
        opacity: 0.5;
    }
}

.registration__link-sale{
    background-color: var(--text-white);

    &:hover,
    &:focus {
        transform: scale(1.05);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }    
}

.footer__paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    color: var(--text-white);
    &:nth-child(1) {
        padding-bottom: 14px;
    }
    &:nth-child(2) {
        padding-bottom: 26px;
    }
    
    &:nth-child(3) {
        padding-bottom: 40px;
    }
}

.footer__link-wrapper{
    display: flex;
    justify-content: center;
}

.footer__link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    
    text-decoration-line: underline;
    color: var(--text-white);

    &:nth-child(1) {
        margin-right: 52px;
    }

}




