.footer-sale{
    background-image: linear-gradient(208.82deg, #6464CA 8.6%, #9D73E1 100%);
    padding-top: 57px;
    padding-bottom: 47px;
    padding-left: 16px;
    padding-right: 16px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}

.footer__title-sale{
    padding-bottom: 23px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.8;
    text-align: center;
    color: var(--text-white);
}

.footer__text-sale{
    padding-bottom: 57px;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.8;
    text-align: center;
    color: var(--text-white);
}