.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-hidden .modal {
    transform: translate(0, -100%) scale(0.2);
}

.modal__create-page{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 414px;
    transform: translate(-50%, -100%) scale(1);
    padding-top: 57px;
    padding-bottom: 43px;
    padding-left: 36px;
    padding-right: 36px;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    transition: transform 250ms ease-in-out;
}

.modal__title-create-page{
    font-weight: 600;
    font-size: 26px;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 32px;
}

.modal__text-create-page{
    font-weight: 400;
    font-size: 17px;
    line-height: 1.17;
    text-align: center;
}

.modal__text-create-page{
    padding-bottom: 61px;
}