.main-page_logo{
    padding-top: 73px;
    padding-bottom: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
};


.main-page_title{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 26px;
};

.hero-main-page_list-size{
    padding-top: 43px;
};