.header__main--subtitle{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    padding-left: 17px;
    padding-right: 17px;    
}

.hero-main-page--size{
    padding-bottom: 43px;
    padding-top: 27px;
}

.header__sale-page_wrap{
    padding-top: 50px;
    padding-bottom: 47px;
}

.hero__sale-page_list{
padding-top: 0;
}

.preview__section {
    padding-bottom: 71px;
}

.preview__svg-plus{
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.19;
    text-align: center;
    padding-bottom: 14px;
}

.preview__text{
    padding-bottom: 81px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.18;
    text-align: center;
}

.preview__icon{
    fill: white;
    stroke: rgba(0, 0, 0, 0.5);
}