.hero-tutorial {
    padding-top: 276px; 
}

.hero__img-tutorial {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 94px;
    height: 94px;
}

.hero__title-tutorial {
    display: block;
    padding-top: 40px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.18;
}

.hero__text-tutorial {
    position: relative;
    display: block;
    text-align: center;
    font-size: 17px;
    line-height: 1.18;
    padding-top: 50px;
    padding-bottom: 85px;
    width: 414px;
    font-size: 17px;
    font-weight: 400
}

.upgraded{
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 73px;
}

.upgraded__subtitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 9px;
}

.upgraded__text{
    padding-bottom: 38px;
}

.upgraded__img{
    display: block;
    margin-bottom: 43px;
    margin-left: auto;
    margin-right: auto;
    width: 205px;
    height: 67px;
}

.upgraded__caption{
    position: relative;
    padding-top: 127px;
    padding-bottom: 48px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;

    &::after{
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 40%;
        width: 382px;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.14);
        opacity: 0.5;
    }
}

.upgraded__text-wrap{
    font-size: 12px;
    line-height: 1.7;
    text-align: center;
}

.upgraded__link{
transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    text-decoration: underline;
}
}



