.main{
    padding-top: 599px;
    padding-bottom: 43px;
    text-align: center;
};

.main_title{
    padding-bottom: 12px;    
};

.main_text{
    padding-bottom: 52px;   
};

.main_list{
    display: flex;
    align-items: center; 
    justify-content:center;
    padding-bottom: 38px;
};

.main_item{
    &:not(:last-child) {
       margin-right: 6px;
    };
};

.main_link{
    display: block;
    width: 11px;
    height: 11px;
    background-color: var(--text-footer-color);
    border-radius: 50%;    
};

.accent{
    background-color:var(--text-accent-color)
};

